<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="index.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Home</title>



    <!-- Bootstrap core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <p><a id="playB" class="btn btn-lg btn-success" href="#" role="button"  onClick="soundB()">Play 🔊</a></p>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            
            <li role="presentation" ><a href="index.html">Home</a></li>
            <li role="presentation" ><a href="game.html">Trivia</a></li>
            <li role="presentation"><a href="scoreboard.html">Scoreboard</a></li>
            <li role="presentation" class="active"><a href="about.html">About</a></li>
            <li role="presentation"><a href="profile.html" id="usr-nav-id">Profile</a></li>
            <li role="presentation"><a href="information.html">Info</a> </li>

            <script>
                if (localStorage.name){
                  console.log(localStorage.name);
                  y = document.getElementById("usr-nav-id");
                  y.innerHTML = localStorage.name;
                  }
            </script>
          </ul>
        </nav>
      </div>
      <div class="jumbotron">
        <h1>Swimming With Guppies</h1>
        <p class="lead">This site is a part of the OCDA. The objective is promoting, protecting, and preserving marine life.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button" onclick="document.getElementById('id01').style.display='block'">Login</a></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button" onclick="document.getElementById('id02').style.display='block'">Sign Up</a></p>
      </div>
      <script>
        function login() {
          localStorage.name = document.getElementById("username-form").value;
        }
      </script>



<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>


  <!-- Modal Content -->

      <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="loginForm" method="POST"  novalidate="novalidate">
                    <div class="form-group">
                        <label for="username" class="control-label">Username</label>
                        <input type="text" class="form-control" id="username-form" name="name" value="" required="" title="Please enter you username" placeholder="example@gmail.com">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" id="password" name="pass" value="" required="" title="Please enter your password">
                        <span class="help-block"></span>
                    </div>
                    <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                    <button  onclick="login()" style="display: block; margin: 0 auto;"  class="btn btn-success btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div id="id02" class="modal">
      <span onclick="document.getElementById('id02').style.display='none'"
    class="close" title="Close Modal">&times;</span>
    
    
      <!-- Modal Content -->
    
          <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                        <div class="form-group">
                            <label for="username" class="control-label">Username</label>
                            <input type="text" class="form-control" id="username-form" name="name" value="" required="" title="Please enter you username" >
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="password" name="pass" value="" required="" title="Please enter your password">
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group">

                            <label for="grade" class="control-label">Grade</label>
                            <select class="form-control" id="state_id">
			                           <option value="K">Kindergarten</option>
			                           <option value="1">First</option>
                                 <option value="2">Second</option>
                                 <option value="3">Third</option>
                                 <option value="4">Fourth</option>
                                 <option value="5">Fifth</option>
                                 <option value="6">Sixth</option>
                                 <option value="7">Seventh</option>
                                 <option value="8">Eighth</option>
                                 <option value="9">Ninth</option>
                                 <option value="10">Tenth</option>
                                 <option value="11">Eleventh</option>
                                 <option value="12">Twelfth</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                        <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                        <button style="display: block; margin: 0 auto;" onclick = "location.href = 'index.html';" class="btn btn-success btn-block">Sign Up</button>


                </div>
            </div>
        </div>
      </div>
    


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
