<!DOCTYPE html>
<html lang="en">
<head>
	<script src="index.js" type="text/javascript"></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>Scoreboard</title>

	<!-- Bootstrap core CSS -->
	<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="jumbotron-narrow.css" rel="stylesheet">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="../../assets/js/ie-emulation-modes-warning.js"></script>

	<script src="jquery-3.2.1.min.js" type="text/javascript"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.Smin.js"></script>
	<![endif]-->
</head>

<body>
  <!-- THIS ALERTS WITH SCORE -->
  <script>

  </script>
	<p><a id="playB" class="btn btn-lg btn-success" href="#" role="button"  onClick="soundB()">Play 🔊</a></p>
	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" ><a href="index.html">Home</a></li>
					<li role="presentation" ><a href="game.html">Trivia</a></li>
					<li role="presentation" class="active"><a href="scoreboard.html">Scoreboard</a></li>
					<li role="presentation"><a href="about.html">About</a></li>
					<li role="presentation"><a href="profile.html" id="usr-nav-id">Profile</a></li>
					<li role="presentation"><a href="information.html">Info</a> </li>

					<script>
						if (localStorage.name){
						  console.log(localStorage.name);
						  y = document.getElementById("usr-nav-id");
						  y.innerHTML = localStorage.name;
						  }
					</script>
				</ul>
			</nav>
		</div>

		<!--  <div class="jumbotron">
		<h1>Jumbotron heading</h1>
		<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
	</div>
-->
<img id = "logo" src="./logo.png" alt="Swimming with Guppies logo">

<div>
	<table style = "width: 100px; height: 100px; text-align:center;">
		<tr>
			<td>
				<b>Key</b>
			</td>
		</tr>
			<td>
				<img id = "fish1"  src="./guppy.png" width="64" height="49" alt="Guppy"><br>10 points
			</td>
		</tr>
		</tr>
			<td>
				<br>
 				<img id = "whale" src="./whale.png" widght = "128" height = "98" alt="Mountain View"><br>200 points

			</td>
		<tr>
		</tr>
	</table>
</div>

<div class="row marketing">
	<div class = "jumbotronFish">
		<div class="col-xl-3">
			<h4>Guppies</h4>
			<!-- Insert guppy images here and a value -->
			<img id = "fish1" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View" >
			<img id = "fish2" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish3" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish4" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish5" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish6" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish7" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish8" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish9" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish10" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish11" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish12" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish13" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish14" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish15" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish16" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish17" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish18" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish19" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">
			<img id = "fish20" style = "display: none" src="./guppy.png" width="64" height="49" alt="Mountain View">

		</div>

		<div class = "col-xl-6">
			<h4>Whales</h4>
			<img id = "whale1" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale2" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale3" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale4" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale5" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale6" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale7" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale8" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale9" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale10" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale11" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale12" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale13" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale14" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale15" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale16" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale17" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale18" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale19" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">
			<img id = "whale20" style = "display: none" src="./whale.png" widght = "128" height = "98" alt="Mountain View">

		</div>
	</div>

	<div class="jumbotron">
      <h1>Redeem your guppies and whales!<h1>
        <p class="about" style="text-align: center">           Code for Good shirt</p>
        <p> Thank you to our wonderful platinum level sponsor</p>
        <p><img src="shirt.jpg" class="rounded float-left" width="200px" height="200px"></p>

        <p><a class="btn btn-lg btn-success" href="#" role="button">Purchase!</a></p>
        <br>
        <p class="about" style="text-align: center">Plush hammerhead shark toy</p>
        <p>
          <img src="shark.jpg" width="200px" height="auto">
        </p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Purchase!</a></p>


      </div>



</div> <!-- /container -->

<footer class="footer">
	<p>&copy; 2016 Company, Inc.</p>
</footer>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
